#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.message {
  display: flex;
  flex-flow: column;
}

.message textarea{
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  font-size: 36px;
}

.message button {
  padding: 10px 10px;
  font-size: 16px;
  margin-bottom: 20px;
}